.recipe-card {
  width: 220px;
  margin: 0 !important;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.recipe-card img {
  min-width: 220px;
  min-height: 275px;
  background-color: #e5e5e5;
}

.recipe-card h2 {
  font-size: 24px;
  padding: 1rem;
  margin-bottom: 0;
}